body {
    margin: 0;
    background-color: #ececec;
}

.block_background {
    position: absolute;
    width: calc(100% - 400px);
    height: 100vh;
    overflow: hidden;
}

.background_img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.cover_background {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #cdb6ff;
    opacity: 0.4;
}

.block_main {
    position: absolute;
    width: 400px;
    height: 100vh;
    overflow: hidden;
    right: 0;
}

.sign_title {
    position: absolute;
    top: 50%;
    transform: translateY(calc(-50% - 220px));
    width: 100%;
    height: 20px;
}

.title {
    position: absolute;
    font-weight: 600;
    font-size: 20px;
    color: #090909;
    left: 50%;
    transform: translateX(-50%);
}

.window {
    position: absolute;
    width: 320px;
    overflow: hidden;
    background-color: #ffffff;
    padding: 10px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, calc(-50% + -4px));
    height: 310px;
    border-radius: 8px;
}

.sign {
    position: absolute;
    width: 800px;
    top: 88px;
    transform: translateX(-40px);
}

.labels {
    z-index: 2;
    position: absolute;
    font-size: 15px;
    padding-left: 2px;
    padding-right: 2px;
    background-color: #ffffff;
    color: #919191;
    left: 60px;
    top: 12px;
}

.inputs {
    z-index: 3;
    position: absolute;
    background-color: transparent;
    height: 44px;
    width: 300px;
    border: #6f6f6f 2px solid;
    left: 50%;
    font-size: 15px;
    padding-left: 10px;
    transform: translateX(-50%);
    border-radius: 6px;
}

.inputs:focus {
    border: #1a315c 2px solid;
    transition-duration: 200ms;
    outline: none;
}

.infos {
    z-index: 1;
    position: absolute;
    color: #1a315c;
    font-size: 12px;
    right: 46px;
    top: 46px;
    letter-spacing: 1px;
    display: none;
}

.sign_up_check {
    position: absolute;
    width: 400px;
}

.sign_up_title {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 24px;
    color: #1a315c;
    font-weight: 600;
    top: -60px;
}

.email {
    position: absolute;
    width: 100%;
}

.occupy_input {
    height: 40px;
    width: 284px;
}

.input_email {
    z-index: 3;
    position: absolute;
    background-color: transparent;
    border-radius: 6px;
    border: none;
    height: 40px;
    width: 215px;
    margin: 2px;
    left: 50%;
    font-size: 15px;
    padding-left: 10px;
    transform: translateX(calc(-50% - 42px));
    outline: none;
}

.input_email_2:focus {
    outline: none;
}

.btn_get_code {
    z-index: 5;
    position: absolute;
    color: #6f6f6f;
    border: none;
    background-color: transparent;
    width: 68px;
    padding: 13px 0;
    right: 60px;
}

.btn_get_code:hover {
    text-decoration: underline;
}

.code {
    position: absolute;
    width: 100%;
    top: 64px;
}

.to_sign_in {
    position: absolute;
    color: #6d6d6d;
    left: 50%;
    top: 50%;
    transform: translate(-50%, calc(-50% + 142px));
    font-size: 15px;
    text-decoration: none;
}

.to_sign_in:hover {
    text-decoration: underline;
}

.btn_next {
    position: absolute;
    left: 50%;
    width: 300px;
    height: 35px;
    border: none;
    background-color: #1a315c;
    letter-spacing: 1px;
    border-radius: 6px;
    color: #ffffff;
    font-size: 15px;
    font-weight: 600;
    top: 50%;
    transform: translate(-50%, calc(-50% + 191px));
}

.btn_next:hover {
    transform: translate(-50%, calc(-50% + 191px)) scale(1.05);
    transition-duration: 100ms;
}

.btn_next:active {
    transform: translate(-50%, calc(-50% + 191px)) scale(1);
    transition-duration: 100ms;
}

.sign_up_fill {
    position: absolute;
    width: 400px;
    left: 400px;
}

.username {
    position: absolute;
    top: -64px;
    width: 100%;
}

.password {
    position: absolute;
    width: 100%;
}

.confirm {
    position: absolute;
    width: 100%;
    top: 64px;
}

.btn_sign_up {
    position: absolute;
    left: 50%;
    width: 300px;
    height: 35px;
    border: none;
    background-color: #1a315c;
    letter-spacing: 1px;
    border-radius: 6px;
    color: #ffffff;
    font-size: 15px;
    font-weight: 600;
    top: 50%;
    transform: translate(-50%, calc(-50% + 191px));
}

.btn_sign_up:hover {
    transform: translate(-50%, calc(-50% + 191px)) scale(1.05);
    transition-duration: 100ms;
}

.btn_sign_up:active {
    transform: translate(-50%, calc(-50% + 191px)) scale(1);
    transition-duration: 100ms;
}

