.swal-btn-confirm {
    background-color: #090909 !important;
    color: #ffffff !important;
    font-weight: 700 !important;
    box-shadow: none !important;
    padding: 7px 20px !important;
}

.swal-btn-confirm:active {
    box-shadow: none !important;
}

.swal-title {
    color: #090909 !important;
    font-size: 28px !important;
}

.swal-btn-cancel {
    background-color: transparent !important;
    color: #090909 !important;
    opacity: 0.5 !important;
    margin-left: 120px !important;
    padding: 0 !important;
}

.swal-btn-cancel:hover {
    text-decoration: underline !important;
    background-image: none !important;
}

.swal-btn-cancel:active {
    box-shadow: none !important;
}